.card {
   flex-shrink: 0;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: fit-content;
   height: 100%;
   background-color: var(--bg-color-light);
   border: .125rem solid var(--light-grey);
   border-radius: 4px;
   overflow: hidden;
   cursor: pointer;

   &:hover img{
      transform: scale(1.05);
   }

   &__img {
      width: 100%;
      aspect-ratio: 0.67;
      object-fit: cover;
      transition: transform .5s;
   }

   &__rating {
      position: absolute;
      top: .7rem;
      left: .7rem;
      display: flex;
      align-items: center;
      padding-block: .4rem;
      padding-inline: .6rem;
      font-size: .9rem;
      background-color: var(--bg-color-light);
      border-radius: .15rem;

      i {
         margin-right: .5rem;
         font-size: 1.4rem;
         color: gold;
      }
   }

   &__title {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      bottom: 0;
      padding-inline: .8rem;
      height: 3rem;
      width: 100%;
      font-size: .9rem;
      font-weight: normal;
      background-color: var(--bg-color-light);
      background-color: hsla(0, 0, 5%, .65);
      text-align: center;
   }
}