section {
   max-width: 90rem;
   margin: 1rem auto;
}

.grid {
   display: grid;
   grid-template-columns: 1fr;
   place-items: center;
   margin: 0 auto;
   gap: 1rem;
   padding: 1rem;
}

.title {
   padding: 1rem;
   margin: 1rem;
   margin-top: 2rem;
   letter-spacing: .05rem;
   color: hsl(0%, 0%, 65%);
   background-color: var(--bg-color-light);
   border-radius: .5rem;
}



@media (min-width: 30rem) {
   .grid {
      grid-template-columns: repeat(2, 1fr);
      padding-inline: 1.5rem;
   }
}

@media (min-width: 40rem) {
   .grid {
      grid-template-columns: repeat(3, 1fr);
   }
}


@media (min-width: 60rem) {
   .grid {
      grid-template-columns: repeat(4, 1fr);
   }
}

@media (min-width: 80rem) {
   .grid {
      grid-template-columns: repeat(6, 1fr);
   }

   .title {
      padding: 1rem 1.5rem;
      margin-top: 2.5rem;
   }
}
