<section class="slider" [id]="id">
   <h2 class="slider__title">{{title}}</h2>
   <div class="slider__observer-area"></div>
   <div class="slider__scroll-container">
      <div class="cards" >
         <ng-container *ngFor="let item of items">
            <card [itemData]="item"></card>
         </ng-container>
      </div>
   </div>
   <button class="slider__btn slider__btn--left m-icon">
      arrow_back
   </button>
   <button class="slider__btn slider__btn--right m-icon">
      arrow_forward
   </button>
</section>
