.slider {
   position: relative;
   padding: 1rem 2rem;
   max-width: 100rem;
   margin: 0 auto;
   text-align: center;

   &__title {
      display: block;
      width: max-content;
      padding: 1rem 1.5rem;
      margin-bottom: 1rem;
      font-weight: 400;
      font-size: 1.2rem;
      color: var(--light-grey);
      background-color: var(--bg-color-light);
      border-radius: 0.25rem;
   }

   &__observer-area {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 16rem;
      pointer-events: none;
   }

   &__scroll-container {
      position: relative;
      scroll-behavior: smooth;
      padding: 1rem;
      overflow-x: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
         display: none;
      }
   }

   &__btn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      padding: 0.5rem;
      bottom: 12rem;
      transform: translateY(50%);
      background-color: rgba(255, 255, 255, .2);
      color: var(--main-font-color);
      border: .15rem solid var(--main-font-color);
      border-radius: .15rem;
      transition: opacity .5s, visibility .5s;
      cursor: pointer;
      
      &--left {
         left: 1rem;
         opacity: 0;
         visibility: hidden;
      }

      &--right {
         right: 1rem;
      }
   }
}

.cards {
   display: flex;
   justify-content: center;
   align-items: center;
   width: max-content;
   gap: 1rem;
}

.card {
   flex-shrink: 0;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 15rem;
   height: 20rem;
   background-color: blue;
   border: .125rem solid var(--light-grey);
   border-radius: 4px;
   overflow: hidden;

   &__img {
      height: 20rem;
      width: 100%;
      object-fit: cover;
   }

   &__rating {
      position: absolute;
      top: .7rem;
      left: .7rem;
      display: flex;
      align-items: center;
      padding-block: .4rem;
      padding-inline: .6rem;
      font-size: .9rem;
      background-color: var(--bg-color-light);
      border-radius: .15rem;

      i {
         margin-right: .5rem;
         font-size: 1.4rem;
         color: gold;
      }
   }

   &__title {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: .7rem;
      width: 100%;
      font-size: .9rem;
      font-weight: normal;
      background-color: var(--bg-color-light);
   }
}

p {
   position: absolute;
   left: 0;
   bottom: 0;
}

@media (pointer: coarse) {
   .slider {
      &__btn {
         display: none;
      }
   }
}
