// @use '../node_modules/primeflex/primeflex.scss';
@use './styles/normalize-css';
@use './styles/corlos';
@use '../node_modules/primeicons/primeicons.css';
@use '../node_modules/primeng/resources/themes/arya-orange/theme.css';
@use '../node_modules/primeng/resources/primeng.min.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   color: var(--main-font-color);
   background-color: var(--bg-color);
}

a {
   text-decoration: none;
   color: var(--main-font-color);
}

.m-icon {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;

   /* Support for all WebKit browsers. */
   -webkit-font-smoothing: antialiased;
   /* Support for Safari and Chrome. */
   text-rendering: optimizeLegibility;

   /* Support for Firefox. */
   -moz-osx-font-smoothing: grayscale;
}
