section {
   max-width: 90rem;
   margin: 1rem auto;
}

.grid {
   display: grid;
   grid-template-columns: 1fr;
   place-items: center;
   margin: 0 auto;
   gap: 1rem;
   padding: 1rem;
}


@media (min-width: 30rem) {
   .grid {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (min-width: 50rem) {
   .grid {
      grid-template-columns: repeat(4, 1fr);
   }
}

@media (min-width: 75rem) {
   .grid {
      grid-template-columns: repeat(5, 1fr);
      padding-inline: 1.5rem;
   }
}